{% extends "share_plans/layout.html" %}

{% block body %}

    <h2>Логин</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post" class="autorization-form">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="username" placeholder="Логин">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Пароль">
        </div>
        <input class="btn btn-primary" type="submit" value="Авторизоваться">
    </form>

    Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться.</a>

{% endblock %}