@media (max-width: 400px) {
    .planner {
        font-size: 10px;
    }

    .navbar {
        justify-content: center;
    }

    .input-group {
        justify-content: center;
    }

    .day {
        width: 45px;
        overflow: hidden;
    }
    
}

html, body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.navbar {
    padding: 10px;
    padding-left: 20px;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 56px;
    gap: 1rem;

    flex: 1;
    display: flex;
    flex-direction: column;
}

.add-form {
    display:flex;
    flex-direction: column;
}

.time-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem
}

.header-inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem
}

.day {
    border: 1px solid black;
    color: black;
    text-decoration: none;
}

.day:hover {
    color: black;
    text-decoration: none;
}

.planner {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    height: 100%;
    width: 100%;
}

.day {
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    word-wrap: break-word;
    white-space: normal;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
}

.event {
    display: flex; 
    flex-direction: column; 
    flex: 1; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
}

#suggestions-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: white;
    border: 1px solid #ddd;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
  }
  
#suggestions-list li {
    padding: 10px;
    cursor: pointer
}
  
#suggestions-list li:hover {
    background-color: #f0f0f0;
}
  

ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

ul li {
    display: inline-block;
    margin: 0 10px;
}

#search-button {
    border: 1px solid white;
}

.event:hover {
    background-color: lightgray;
    cursor: pointer;
}

#preview {
    border: 1px solid #2E9AFF; 
    border-radius: 50%; 
    width: 200px; 
    height: 200px; 
    object-fit: cover;
}

footer {
    margin-top: 10px;
    display: flex;
    background-color: #0d6efd;
    align-items: center;
    justify-content: center;
    color: white;
    min-height: 60px;
    padding: 10px;
}

hr {
    width: 100%;
    margin: 0;
}

.container-event {
    width: 100vw; 
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
}

.autorization-form {
    display:flex; 
    flex-direction: column
}
